.webtitle{
    display: flex;
    text-align: center;
    font-size: 8vh;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    color:black;
}
.webtitle:visited{
    text-decoration: none;
    color:black;
}
.webtitlebox{
    border-bottom-style: double;
    border-bottom-width: 3px;
    padding-bottom: 3vh;
    padding-top: 2vh;
    background-color: lightblue;
    margin-bottom: 3vh;
    display: flex;
}
.btn{
    display: flex;
    font-size: 8vh;
    font-weight: bold;
    justify-content: left;
    padding-top: 1vh;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color:black;
}

body{
    margin:0px;
    padding:0px;
}

.link{
    color:black;
    text-decoration: none;
}
.link:visited{
    color:black;
    text-decoration: none;
}

@media screen and (max-width:900px){
    .webtitle{
        font-size: 4vh;
    }
    .webtitlebox{
        border-bottom-width: 3px;
        padding-bottom: 1vh;
        padding-top: 1vh;
        margin-bottom: 3vh;
    }
    .btn{
        font-size: 3vh;
        padding-top: 1vh;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
    }
}