.warblock{
    margin-left: 3vw;
    padding-left: 2vw;
    background-color: lightgreen;
    border-radius: 10px;
    margin-right: 3vw;
    height: 22vh;
    opacity: 0;
}
.s-title{
    font-family: sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: lightgreen;
    padding-top: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
}
.date{
    font-size: 2vw;
    font-weight: normal;
    font-family: sans-serif;
}
.tcontent{
    font-size: 2vw;
    font-weight: normal;
    font-family: sans-serif;
    opacity: 0;
    background-color: lightcyan;
    display: flex;
    padding-left: 2vw;
    width: 90%;
    padding-right: 2vw;
    border-radius: 10px;
    word-wrap:break-word;
}
@keyframes showdetail {
    100%{height: 60vh;}
}
@keyframes showdetail-r {
    0%{height: 60vh;}
    100%{height: 22vh;}
}
@keyframes sd-fadein {
    0%{opacity: 0;}
    100%{opacity: 100;}
}
@keyframes sd-fadeout {
    0%{opacity: 100;}
    100%{opacity: 0;}
}

@keyframes intro-all {
    0%{transform:translateY(50px); opacity: 0;}
    100%{transform:translateY(0px); opacity: 100;}
}

.footer{
    font-family: sans-serif;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:900px){
    .warblock{
        margin-left: 3vw;
        padding-left: 2vw;
        margin-right: 3vw;
        height: 25vh;
    }
    .s-title{
        font-size: 4vh;
        padding-top: 15px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 10px;
    }
    .date{
        font-size: 2vh;
    }

    .tcontent{
        font-size: 3vh;
        padding-left: 2vw;
        width: 90%;
        word-wrap: break-word;
    }

    @keyframes showdetail {
        100%{height: 50vh;}
    }
    @keyframes showdetail-r {
        0%{height: 50vh;}
        100%{height: 25vh;}
    }
    
    .footer{
        font-size: 3vh;
        margin-top: 10vh;
    }
}
